<!--
uso num tag liquid:
include carousel.html name='xxxxxxxxxx' data=yyyyyyyyyy height=zzzz
-->

<div id="{{include.name}}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for item in include.data %}
        <button type="button" data-bs-target="#{{include.name}}" data-bs-slide-to="{{forloop.index0}}" class="active" aria-current="true" aria-label="Slide {{forloop.index0}}"></button> {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for item in include.data %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="w-100 img-responsive img-carousel" src="{{site.baseurl}}{{ item.url }}" alt="{{ item.id }}" style="height: {{include.height}}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#{{include.name}}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    <button class="carousel-control-next" type="button" data-bs-target="#{{include.name}}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>