---
mathjax: true
---

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{{ site.title }} :: {{page.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/img/logos/CAEF-logo.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{{site.baseurl}}/css/style2.css" rel="stylesheet" type="text/css"> 
    
    {% include mathjax.html %}

</head>

<body>
    {% include navbar.html %}
    
    <div class="container-lg my-2">
        <div class="row border-bottom-0">
            <div class="col-lg border bg-light m-0 p-0">
                <div class="px-2">
                    <div class="float-lg-end m-3">
                        <img class="img-fluid" src="{{site.baseurl}}/img/logos/SemefEstrelasOnline.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row border bg-light border-top-0">
            <div class="col-lg m-0 p-4">
                <div class="px-2">
                    <div>
                        <h4 style="text-align:center;">
                            O que é a SEMEF?
                        </h4>
                        <p align="justify">
                            A Semana de Engenharia Física, mais conhecida como SEMEF, é um semana inteiramente dedicada
                            ao acompanhamento de palestras, minicursos e visitas (atualmente virtuais) para os futuros 
                            engenheiros físico da Universidade de São Paulo e para qualquer um que se sinta interessado 
                            e curioso com temas relacionados a tecnologia e ciência.
                        </p>
                        <h4 style="text-align:center;">
                            O que será apresentado?
                        </h4>
                        <p align="justify">
                            Para a 8ª edição do evento, o Centro Acadêmico de Engenharia Física buscou assuntos de alta
                            importância tecnológica e científica, tanto para o Brasil como para o Mundo. Alguns deles
                            são: Semicondutores, Nanotecnologia, Inteligência Artificial, Tecnologia Quântica, Onduladores Síncrotron e 
                            Satélite Amazônia-1.
                            Além das palestras, também serão ministrados 2 minicursos e 1 visita virtual no Centro Nacional de Pesquisa 
                            em Energia e Materiais.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg m-0 p-4">
                <div class="px-2">
                    <div>
                        <h4 style="text-align:center;">
                            Onde e Quando?
                        </h4>
                        <p align="justify">
                            Desta vez, devido a pandemia de Covid-19, o evento será realizado inteiramente de maneira 
                            virtual entre os dias <b> 27 de setembro </b> e <b> 01 de outubro </b>. Para aqueles que 
                            se inscreverem, os links das palestras serão disponibilizados no Manual da 8ª SEMEF, 
                            juntamente com demais instruções.
                        </p>
                        <h4 style="text-align:center;">
                            Inscrições
                        </h4>
                        <p>
                            As inscrições vão até o dia <b> 24 de setembro </b>, não perca. Basta clicar no <a href="https://www.eventbrite.com.br/e/viii-semana-de-engenharia-fisica-semef-eelusp-tickets-168964941689?aff=ebdssbonlinesearch">link</a> para se inscrever.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
